<!-- <app-login></app-login> -->
<!-- <div class="container">
    <img class="image" src="assets/images/img1.png">
    <h1 class="text">Claim Processing</h1>
</div>
<div class="container1">
    <h2 class="text1">Welcome back</h2>
    <h2 class="text2">Log in your account</h2>
    <button class="button" (click)="change()">Log in with Email</button>
</div>
<div class="container2">
    <img class="img" src="assets/images/img2.png">
    
    <img class="img2" src="assets/images/img3.png">
    
</div> -->

<div class="container-fluid">
    <div class="card-box">

        
        
        <router-outlet></router-outlet>
        
    </div>
    
    
</div>
