<div class="card-box">
    <form [formGroup]="register" (ngSubmit)="claimregister()">
      <div class="center">
        <strong>Claim Processor can Register Here..</strong>
      </div>
      <button class="btn btn-dark" type="button" (click)="back()">GoBack</button>
      <div class="row">
        <div class="offset-lg-3 col-lg-6">
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" id="name" class="form-control" formControlName="fullName" autocomplete="off" />
            <span *ngIf="fullName && fullName.invalid && fullName.touched" class="error">Please enter data</span>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="offset-lg-3 col-lg-6">
          <div class="form-group">
            <label for="email">Email ID</label>
            <input type="email" id="email" class="form-control" formControlName="email" autocomplete="off" />
            <div class="alert alert-danger" *ngIf="(email.touched || email.dirty) && email.invalid">
              <div class="alert alert-danger" *ngIf="email.errors?.['required']">eamilId is required</div>
              <div class="alert alert-danger" *ngIf="email.errors?.['email']">enter proper email address</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-3 col-lg-6">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password"
              autocomplete="off" />
            <div class="alert alert-danger"
              *ngIf="(password.touched || password.dirty) && password.invalid">
              <div class="alert alert-danger" *ngIf="password.errors?.['required']">password is required</div>
              <div class="text-danger" *ngIf="password.errors?.['minlength']">password length should be between 8 to 15</div>
              <div class="text-danger" *ngIf="password.errors?.['maxlength']">password length should be between 8 to 15</div>
              <div class="text-danger" *ngIf="password.errors?.['pattern']">shoud contain atleast 1 lowercase,1 uppercase,1 number and specialcharacter</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-3 col-lg-2">
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!register.valid" >Submit</button>
          </div>
        </div>
        <div class="offset-lg-3 col-lg-2">
          <br>
          <div class="form-group">
            <button type="button" class="btn btn-danger btn-lg btn-block" (click)="clear()">Cancel</button>
          </div>
        </div>
        <!-- <div class="col-lg-3">
          <br>
          <span class={{messageclass}}>{{message}}</span>
        </div> -->
      </div>
    </form>
  
  </div>
